{{!< default}}

<main class="site-main">
    <section class="post-full-content">
        <div class="post-left-placeholder"></div>
        <aside class="toc-container">
            <div class="toc"></div>
        </aside>
        <div class="post-content">
            {{#post}}
                {{> "content" width="wide"}}
            {{/post}}
        </div>

    </section>

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>