{{!< default}}

<main class="site-main">
<aside class="gh-sidebar">
    <div class="gh-toc"></div></aside> {{! The TOC will be inserted here }}
    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>